.todoWrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
